<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841485764360-hqlv7sdp1tpr75hf4b5ect3j934jonv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841485764360-hqlv7sdp1tpr75hf4b5ect3j934jonv3</string>
	<key>API_KEY</key>
	<string>AIzaSyAts-ZLG6DneWVxlu2PdNivOucga4VIIU0</string>
	<key>GCM_SENDER_ID</key>
	<string>841485764360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bruda.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-4f246</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-4f246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841485764360:ios:5c881d3e5c020a28c58ebd</string>
</dict>
</plist>